<lib-form-section
  title="{{ 'formSpecs.cpuRam' | translate }}"
  text="{{ 'formSpecs.cpuDesc' | translate }}"
  icon="fa:fas:microchip"
>
  <div class="row">
    <!--CPU-->
    <lib-positive-number-input
      class="column"
      min="0.1"
      step="0.1"
      [sizeControl]="parentForm.get('cpu')"
      label="{{ 'formSpecs.cpu' | translate }}"
    ></lib-positive-number-input>

    <!--RAM-->
    <lib-positive-number-input
      class="column"
      min="0.1"
      step="0.1"
      [sizeControl]="parentForm.get('memory')"
      label="{{ 'formSpecs.ramSize' | translate }}"
    ></lib-positive-number-input>
  </div>
</lib-form-section>
